@import '../../bedrock/scss/variables';
@import 'variables';

.page-nav {
  position: fixed;
  left: $nav-width * -1;
  top: $nav-margin-top;
  bottom: 0px;
  width: $nav-width;
  background: $nav-bg-color;
  transition: $transition;
  user-select: none;

  @media (min-width: $screen-desktop) {
    left: 0;
  }
}

.page-nav__closed {
  left: - $nav-width !important;
}

.page-nav__opened {
  left: 0px !important;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 30px 0;
}


.menu {
  position: absolute;
  top: 20px;
  bottom: 40px;
  overflow-y: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu--item {
  position: relative;
  min-height: $menu-item-height;
  line-height: $menu-item-height;
}

.menu--item__has_submenu .menu--link:after {
  content: '';
  position: absolute;
  top: $menu-item-height / 2;
  right: 16px;
  margin-top: -2.5px;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.submenu__opened {
  background: $menu-item-hover-background;

  .menu--link {
    color: #000;
  }

  .submenu {
    display: block;
  }

}

.menu--link {
  display: flex;
  padding: 0;
  border: 0;
  width: 100%;
  font-size: $menu-link-font-size;
  font-weight: 400;
  color: $menu-link-color;
  background: none;
  text-decoration: none;
  cursor: pointer;
  transition: $nav-transition;

  &:hover,
  &:focus {
    color: $menu-item-hover-color;
    background: $menu-item-hover-background;
    outline: none;
  }

}

.menu--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: $menu-icon-width;
  height: $menu-item-height;

  svg {
    width: 32px;
    height: 32px;
    fill: currentColor;
  }
}

.menu--text {
  display: block;
  line-height: $menu-item-height;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


// Menu sub level
.submenu {
  display: none;
  overflow: hidden;
  padding-left: 0;
  list-style: none;
}
.submenu--link {
  display: block;
  padding-left: $nav-minify-width;
  padding-right: $menu-subitem-link-padding;
  font-size: $menu-link-font-size;
  color: $menu-link-color;
  text-decoration: none;

  &:hover {
    color: #000;
    background: $menu-subitem-hover-background;
  }

}
.submenu--link__active {
  color: #000;
  font-weight: 500;
}
// End - Menu sub level


// collapse_menu -- display none in mobile
.collapse_menu {
  display: none;

  .menu--icon {
    // transition: $nav-transition;
  }

}


// Medium devices (desktops)
@media (min-width: $screen-desktop) {

  // Minify menu
  .page-nav__minify {
    width: $nav-minify-width;

    .menu {
      overflow: visible;
    }

    .menu--text {
      display: none;
      position: absolute;
      top: 0;
      left: $nav-minify-width;
      width: $menu-subitens-on-minify-menu;
      padding-left: $menu-subitem-link-padding;
      padding-right: $menu-subitem-link-padding;
      background: $menu-item-hover-background;
      font-weight: $font-bold;
    }

    .menu--item__has_submenu .menu--link:after {
      display: none;
    }


    // Menu sub level
    .submenu__opened .menu--text,
    .submenu__opened .submenu {
      display: block;
    }
    .submenu {
      position: absolute;
      top: $menu-item-height;
      left: $nav-minify-width;
      width: $menu-subitens-on-minify-menu;
      background: $menu-item-hover-background;
    }
    .submenu--link {
      padding-left: $menu-subitem-link-padding;
    }
    // End - Menu sub level


    .collapse_menu--icon {
      -webkit-transform: rotate(180deg);
    }
  }
  // End - Minify menu


  .collapse_menu {
    display: flex;
    position: absolute;
    bottom: 0;
    border-top: 1px solid $menu-subitem-hover-background;
  }


}
// End - Medium devices (desktops)