@import '../../bedrock/scss/variables';
@import 'variables';

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: $nav-transition;

  &.page-nav__opened {
    z-index: 1;
    opacity: 1;
    background: rgba(#000, 0.5);

    .page-nav {
      width: $nav-width;
    }
  }
}

.page-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  overflow: hidden;
  background: $nav-bg-color;
  user-select: none;
  transition: $nav-transition;
}

.menu {
  flex-grow: 1;
  width: 100%;
  margin: 16px 0;
  padding: 0;
  overflow-y: auto;
  list-style-type: none;
}

.menu--item {
  position: relative;
  min-height: $menu-item-height;
  line-height: $menu-item-height;

  &__has_submenu {

    &__opened {
      background: $menu-link-hover-background;

      .menu--link {
        color: $menu-link-hover-color;
      }

      .submenu {
        display: block;
      }
    }

    .menu--link:after { // Caret icon
      content: '';
      position: absolute;
      top: $menu-item-height / 2;
      right: 16px;
      margin-top: -2.5px;
      border-top: 5px solid;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }
  }
}

.menu--link {
  display: flex;
  padding: 0;
  border: 0;
  width: 100%;
  font-size: $menu-link-font-size;
  font-weight: 400;
  color: $menu-link-color;
  background: none;
  text-decoration: none;
  cursor: pointer;
  transition: $nav-transition;

  &:hover,
  &:focus {
    color: $menu-link-hover-color;
    background: $menu-link-hover-background;
    outline: none;
  }

  &.close_menu {
    background: $menu-link-hover-background;
  }

}

.menu--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: $menu-icon-width;
  height: $menu-icon-height;

  svg {
    width: 32px;
    height: 32px;
    fill: currentColor;
  }
}

.menu--text {
  display: block;
  line-height: $menu-text-line-height;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


// Submenu
//
.submenu {
  display: none;
  overflow: hidden;
  list-style: none;
}

.submenu--link {
  @extend .menu--link;
  padding-left: $submenu-link-padding-left;

  &:hover,
  &__active {
    background: $submenu-link-hover-background;
  }

  &__active {
    font-weight: $submenu-link-active-font-bold;
  }
}